MVC.xcodeproj/project.xcworkspace/xcshareddata/
MVC.xcodeproj/project.xcworkspace/xcuserdata/
MVC.xcodeproj/xcuserdata/sghiassy.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
.DS_Store
MVC.xcworkspace/xcuserdata
MVC.xcworkspace/xcuserdata/*
MVC.xcworkspace/xcuserdata/sghiassy.xcuserdatad/UserInterfaceState.xcuserstate
